QWidget {
    background-color: #1e332b;
}

QLineEdit {
    border: none;
    border-bottom: 1px solid #4e6f62;
}

QPushButton {
    background-color: #218032;
    border: none;
    border-radius: 4px;
}

QPushButton:hover {
    background-color: rgb(140, 86, 216);
} 